<div class="card">
  <div class="card-header">
    <div class="text-right">
      <button class="btn btn-sm btn-success" [disabled]="isLoadingDownload" (click)="exportExel()">
        <span *ngIf="isLoadingDownload" class="spinner-border spinner-border-sm text-light"
                role="status" aria-hidden="true"></span>
        <span *ngIf="!isLoadingDownload">
          <i class="fas fa-download"></i> Xuất Exel
        </span>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <ngx-datatable class="material" [rows]="InfoRegisterList" [columns]="columns" [columnMode]="ColumnMode.force"
      [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [loadingIndicator]="isLoading">
      <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop">
      </ngx-datatable-column>
      <ngx-datatable-column name="Tùy chọn" [sortable]="false" prop="id"  [width]="10">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

          <button class="btn btn-xs btn-default" (click)="deleteModal(row, template)">
            <i class="fas fa-trash"></i>
          </button>

        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <!-- /.card-body -->
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Xác nhận thông tin liên hệ này?</p>
    <button type="button" class="btn btn-danger mr-2" (click)="confirm()">Xóa</button>
    <button type="button" class="btn btn-default" (click)="decline()">Trở lại</button>
  </div>
</ng-template>
